/* /app/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari y Opera */
}
